# .gitignore
# ==========

# Exclude vim swap files
*.swp
 
# Exclude OS X folder attributes
.DS_Store
 
# Excluded folders:
_finalBinaries

# VST SDK
# vstsdk2.4/pluginterfaces/
# vstsdk2.4/public.sdk/

# Exclude user-specific XCode 3 and 4 files
# *.mode1
# *.mode1v3
# *.mode2v3
# *.perspective
# *.perspectivev3
# *.pbxuser
# *.xcworkspace
# xcuserdata
